@import "./components/resets";
@import "./components/variables";
@import "./components/generals";

@import "./components/nav-bar";
@import "./components/index-sections";
@import "./components/about-sections";
@import "./components/contactanos-sections";
@import "./components/containers";
@import "./components/footer";
@import "./components/carousel";

body {
  margin: auto auto;
  overflow-x: hidden;
  background-color: $background-color;
}

.secondary__body {
  margin: auto auto;
  overflow-x: hidden;
  background-color: $secondary-background-color;
}
