.carousel-item {
  margin: 50px 0px 100px 0px;
}

.d-block {
  max-width: 1220px;
  max-height: 800px;
  margin: auto;
  box-shadow: 0 0 15px $accent-color;
}

.w-100 {
  max-width: 1220px;
  max-height: 800px;
  margin: auto;
  box-shadow: 0 0 15px $accent-color;
}
