// Index

#intro__section {
  margin: auto;
  padding: 40px 0px;
  background-color: $background-color;

  #intro__container {
    background-image: url(../../images/slider/slider1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1%;
    box-shadow: 0 0 15px $accent-color;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-align: center;
    height: 760px;
    max-width: 1507px;
    margin: auto;

    #intro__text {
      width: 602px;
      height: 240px;
      max-width: 602px;
      margin-bottom: 40px;
      margin-right: 200px;
      text-shadow: 0.04em 0 $background-color, 0 0.04em $background-color,
        -0.04em 0 $background-color, 0 -0.04em $background-color;

      line-height: 40px;
      font-weight: bold;
      font-size: 2em;
    }
  }
}

#flex__section {
  padding: 58px 122px 58px 122px;
  max-width: 1220px;
  margin: auto;
  background: $secondary-background-color;
  #flex__title {
    display: flex;
    justify-content: center;
    font-style: italic;
    height: 60px;
    margin-bottom: 20px;
  }
  #flex__container {
    display: flex;
    justify-content: space-around;
    max-width: 1160px;
    .img__wrap {
      position: relative;
      height: 350px;
      width: 350px;
      .flex__photo {
        height: 350px;
        width: 350px;
        padding: 20px;
        border-radius: 15%;
      }
      .img__description_layer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(233, 120, 28, 0.6);
        color: #fff;
        font-style: bold;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s, visibility 0.2s;
      }
      &:hover .img__description_layer {
        visibility: visible;
        opacity: 1;
        font-size: 1.5em;
        font-style: bold;
        .img__description {
          transition: 0.2s;
          transform: translateY(1em);
        }
      }
      &:hover .img__description {
        transform: translateY(0);
      }
    }
  }
}
