// Colors

$background-color: #1b263b;
$secondary-background-color: #e0e1dd;
$third-background-color: #2ec4b6;
$accent-color: #ef233c;

// General sizes

$grid-photo: 280px;

// Responsive

$desktop-width: 1220px;
$tablet-width: 1024px;
$mobile-width: 768px;
