// Colors

$background-color: rgb(28, 35, 41);
$secondary-background-color: #ccc5b9;
$third-background-color: #2ec4b6;
$accent-color: #eb5e28;

// General sizes

$grid-photo: 280px;

// Responsive

$desktop-width: 1220px;
$tablet-width: 1024px;
$mobile-width: 768px;
